* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #757070;
}

.form-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width:450px;
    background-color: #e2dada;
    padding: 20px;
    border-radius: 8px;
}

fieldset {
    border: 2px solid #77c47748;
    padding: 20px;
    border-radius: 6px;
}

legend {
    padding: 0 10px;
    font-weight: bold;
    color: #829083;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    border-color: #2d302d;
    outline: none;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: rgb(54, 40, 40);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #a2a8a2;
}
